// color =============================
$color1: #9b2c10;         //text color
$color1-alt: #9b2c10da;  //hover color
$color2: #f4ef5e;         // background
$color3: #fff;            //alt color
// size ==============================
$font-size: 15px;

// font ==============================
